:root {
  /* Color */
  --white-color: azure;
  --black-color: black;

  --primary-color: #f5f5f5;
  --primary-light-color: #ffffff;
  --primary-dark-color: #c1c1c1;
  --secondary-color: #1b5e20;
  --secondary-light-color: #4c8c4a;
  --secondary-dark-color: #003300;

  /* Size */
  --padding-size: 2em;
  --margin-size: 2em;

  /* Font */
  --font-large: 20pt;
  --font-medium: 12pt;
  --font-small: 11pt;
}

.sort {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--margin-size);
  background-color: var(--primary-color);
}

.sort select {
  padding: calc(var(--padding-size) / 3);
  margin: var(--margin-size) calc(var(--margin-size) / 2) 0;
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  font-size: var(--font-medium);
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-size);
  background-color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
}

.movie {
  display: flex;
  width: 30rem;
  margin: var(--margin-size);
  padding: var(--padding-size);
  border: var(--secondary-color) solid 1.5px;
  background-color: var(--primary-light-color);
  color: var(--black-color);
}

.movie__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: var(--padding-size);
  align-items: flex-start;
}

.movie_title {
  margin: calc(var(--padding-size) / 2);
}

.movie__title:hover {
  transform: scale(1.07);
}

.movie__link {
  font-weight: bold;
  color: var(--black-color);
  font-size: var(--font-large);
  text-decoration: none;
}

.movie__summary {
  font-size: var(--font-medium);
  line-height: calc(var(--padding-size) / 1.5);
}

.movie__genres {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
}

.movie__genres li {
  padding: calc(var(--padding-size) / 8);
  margin: 0 calc(var(--padding-size) / 4) calc(var(--padding-size) / 4) 0;
  border: solid 0.1em;
  font-size: var(--font-small);
}
