.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: calc(var(--padding-size) / 3.5);
  background-color: var(--secondary-dark-color);
}

.home i {
  color: var(--primary-light-color);
  font-size: 3em;
}

.home i:hover {
  color: var(--primary-dark-color);
  transform: scale(0.96);
}
