/* Color */
$white-color: azure;
$black-color: black;

$primary-color: #f5f5f5;
$primary-light-color: #ffffff;
$primary-dark-color: #c1c1c1;
$secondary-color: #1b5e20;
$secondary-light-color: #4c8c4a;
$secondary-dark-color: #003300;

/* Size */
$padding-large-size: 4em;
$padding-size: 2em;
$margin-size: 2em;

/* Font */
$font-xlarge: 40pt;
$font-large: 20pt;
$font-medium: 12pt;
$font-small: 11pt;
